<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572809983001-j97aksfp1thrdpr8p5s6hsq77jsiqfr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572809983001-j97aksfp1thrdpr8p5s6hsq77jsiqfr3</string>
	<key>API_KEY</key>
	<string>AIzaSyDwJXHJXjLYXtp5RvJVhJgK7TN6CVVmD2U</string>
	<key>GCM_SENDER_ID</key>
	<string>572809983001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinukat.lk.DinukaThilakarathne-COBSCCOMP191P-047</string>
	<key>PROJECT_ID</key>
	<string>nibm-covid19-680ec</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-covid19-680ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572809983001:ios:3de4a12d08eccd43c4a688</string>
	<key>DATABASE_URL</key>
	<string>https://nibm-covid19-680ec.firebaseio.com</string>
</dict>
</plist>